<div class="message <%= message.from?(current_user) ? "right" : "" %>">
  <%= cl_image_tag message.user.user_photo, class: "avatar" %>
  <div class="message-content"><%= message.content %></div>
</div>
