.show-container {
  display: flex;
  justify-content: space-around;
  // flex-basis: auto;
}
.show-banner {
  // height: 100px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
}

.banner-band-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: bolder; */
  color: #FFFFFF;
}

.band-contents-band {
  box-shadow: 0 1px 3px gray;
  padding: 30px;
}

.band-contents-band h3 {
  margin-top: 0;
  border-bottom: 5px solid #E84369;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.card-user {
  background-size: auto;
  width: 300px;
  height: 200px;
  object-fit: cover;
  background-position: center;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.card-category-band {
  color: white;
}

.card-category-band h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
}

.card-category-band h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: lighter;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.profile-container-band {
  color: black;
}

.profile-container-band h1 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.profile-container-band h5 {
  color: #000000;
  // font-weight: lighter;
}

.show-banner {
  height: 220px;
  background-position: center;
}

.card-contents-band {
  // box-shadow: 0 1px 3px gray;
  min-width: 30vw;
  min-height: 100px;
  max-width: 250px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 30%;
}

.band-members-title {
  color: black;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
  border-bottom: 5px solid #3F5DFA;
  width: 100%;
}

.band-members {
  box-shadow: 0 3px 2px #e3e7f1;
  margin-top: 15px;
  display: flex;
  justify-content: start;
}

.band-members p {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: black;
  opacity: 0.8;
  &:hover {
    text-decoration: none;
  }
}
.band-members a {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.member-description {
  margin: 10px;
}
.member-description p {
  margin-top: 10px;
}
.member-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.view-members {
  font-size: 10px;
  color: #000000;
  font-weight: lighter;
}

.show-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.connect {
  width: 160px;
  bottom: 10px;
}
.want-to {
  font-size: 14px;
  line-height: 0.3em;
  color: #929aab;
}

.view-members:hover {
  color: #000000;
  text-decoration: underline;
}

// #connect {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 180px;
// }

.name-member {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}



// Chat Messages //
.chat-container {
  flex: 1 1 40%;
  margin: 10px;
  margin-left: 50px;
}
.chat-container h3 {
  color: black;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-bottom: 0px;
  border-bottom: 5px solid #23a393;
  // width: 555px;
  width: auto;
  padding-bottom: 7px;
}

.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  // max-height: calc(100vh - 70px - 45px - 61px - 30px);
  max-height: 420px;
  overflow: scroll;
}

.message {
  display: flex;
  margin-bottom: 0px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}
.chat-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}
.message_content {
  margin-bottom: 0;
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
.chat-header {
  background-color: #4F2F4C;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

#message_content {
  width: 85%;
}

.message-submit {
  width: 80px;
  background-color: #E84369;
  border-radius: 50px;
}

.message-time {
  position: relative;
  font-size: 10px;
  margin-bottom: 10px;
  // margin-left: 53px;
  left: 53px;
  width: 50px;
  &.right {
    left: 423px;
    width: 50px;
  }
}

.message-date-container {
  font-size: 12px;
  margin: 20px;
  text-align: center;
  position: relative;
}

.message-line {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.message-date-container:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid #ececec;
  background: black;
  width: 100%;
  transform: translateY(-50%);
}
.message-date {
  width: 200px;
  height: 20px;
  background: white;
  margin: 0px auto;
}

.carousel-size {
display: block;
  max-width: 100%;
  line-height: 1;
}

.carousel-banner {
  width: 270vh;
  height: 445px;
}

.venue-name-style {
  font-size: 35px;
  border-bottom: 3px solid #E84369;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  width: 630px;
}

.venue-bio {
  margin-top: 20px;
  /* margin-bottom: 10px; */
  font-size: 22px;
  /* opacity: 0.75; */
  font-family: 'Signika', sans-serif;
  font-weight: bold;
}

.book-venues {
  color: black;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
  border-bottom: 5px solid #3F5DFA;
  width: 100%;
}

.bookmarked-venues-container {
  margin-bottom: 60px;
}


.bookmark-name {
  font-size: 24px;
  justify-content: space-evenly;
}

.venue-description {
  margin-left: 2px;
}
.venues_path {
  padding-left: 10px;
}

#b-venue-photo {
  margin-left: 10px;
}
