// Specific CSS for your home-page

body {
  background-color: white;
}

.header {
  color: #121212;
  font-size: 35px;
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.landing-banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  height: calc(100vh - 140px);
  box-shadow: 0px 0.5px 3.5px 0px grey;
  // background: #FC466B;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.lading-banner-container {
  margin-top: 60px;
}

.lading-banner-word {
  text-align: left;
  color: white;
}

.landing-search-bar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.band-body h1 {
  font-family: 'montserrat';
  font-size: 32px;
  color: #FFFFFF;
}

.band-body h2 {
  font-family: 'source sans pro';
  font-size: 18px;
  color: #FFFFFF;
  width: 550px;
}

.band-body p {
  font-family: 'source sans pro';
  font-size: 16px;
  color: #FFFFFF;
}

.down-arrow-icon {
  display: flex;
  justify-content: center;
  background-color: #121212;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa-chevron-down {
  color: white;
}

.landing-white-section {
  color: black;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
}

.landing-white-contents {
  text-align: center;
}

.landing-cards {
  display: flex;
  justify-content: space-around;
}

.explore-musician-title {
  background-color: #F2F2F2;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-musicians {
  padding-top: 50px;
  padding-bottom: 50px;
}

.landing-footer {
  background-color: #121212;
  color: white;
  height: 60px;
  padding: 20px;
  height: 200px;
}

.g-exolore {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 450px;
  border-bottom: 5px solid #3F5DFA;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
  font-size: 40px;
}

.more-explore {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #000000;
  font-size: 25px;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.more-explore-flex {
  display: flex;
  justify-content: flex-end;
}

.more-explore:hover {
  color: #3F5DFA;
  transition: .2s ease;
}

// .explore-button:hover {
//   background-color: black;
// }


