// Specific CSS for your home-page

body {
  background-color: #121212;
}

.header {
  font-family: 'montserrat';
  color: white;
  font-size: 35px;
  text-align: center;
}

.landing-banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  height: 82vh;
  box-shadow: 0px 0.5px 3.5px 0px grey;
  background: #FC466B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.lading-banner-container {
  margin-top: 120px;
}

.lading-banner-word {
  text-align: center;
  color: white;
}

.landing-search-bar {
  display: flex;
  justify-content: center;
}

.band-body h1 {
  font-family: 'montserrat';
  font-size: 32px;
  color: #FFFFFF;
}

.band-body h2 {
  font-family: 'source sans pro';
  font-size: 18px;
  color: #FFFFFF;
  width: 550px;
}
