.show-banner {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.banner-musician-description {
  color: white;
  opacity: 0.9;
  margin-top: 30px;
  line-height: 0.8em;
  font-weight: lighter;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.card-category {
  color: white;
  position: absolute;
  left: 50px;
  top: 30px;
  font-weight: lighter;
  opacity: 0.9;
}

.profile-container {
  color: white;
  opacity: 0.7;
}

.profile-container h1 {
  color: white;
  opacity: 0.6;
  margin-top: 100px;
  margin-bottom: 50px;
}
.profile-container h5 {
  color: white;
  opacity: 0.9;
  font-weight: lighter;
}

.show-banner {
  height: 400px;
  background-position: center;
}

.card-contents {
  background-color: white;
  box-shadow: 1px 1px;
  min-width: 200px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-container {
  display: flex;
  justify-content: space-between;
}

.connect {
  width: 180px;
  bottom: 10px;
}
.want-to {
  font-size: 15px;
  color: #929aab;
}

.view {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 10px;
  color: blue;
}
