@mixin show-dark-overlay{
    &:after{
        content: "";
        width: 100%;
        height: auto;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

.show-banner-overlay {
  background-color: black;
}

.show-banner-absolute {
}

.show-banner {
  position: relative;
  z-index: 1;
  background-size: cover;
  @include show-dark-overlay;

  height: 175px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.5);
  background-size: cover !important;
  background-position: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.show-banner:after{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
}

.show-nickname {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 4px;
}

.show-container {
  display: flex;
  justify-content: space-evenly;
}

.show-musician-photo {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 30px;
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
}

.gray-detail-container  {
  background-color: white;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 30px;
  padding: 20px;
  width: 800px;
  height: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: black;

  display: flex;
  align-items: center;
}

.gray-name {
  font-size: 30px;
  border-bottom: 3px solid #E84369;
}

.gray-bio {
  margin-top: 10px;
  font-size: 20px;
  opacity: 0.8;
}

.gray-eq {
  opacity: 0.7;
}

.gray-other-info {
  margin-top: 6px;
  margin-bottom: 10px;
}

.gray-other-info p {
  font-size: 16px;
  margin: 0;
  opacity: 0.6;
}

.gray-view-bands p {
  opacity: 0.5;
}

.gray-connect {
  margin-top: 20px;
}

.gray-connect p {
  opacity: 0.8;
}

.show-musician-nickname {

}




.show-banner-content {
  margin-top: 20px;
}


.show-banner-musician-description {
  color: black;
  opacity: 0.9;
  margin-top: 30px;
  line-height: 0.8em;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.show-banner-content h4 {
  opacity: 0.8;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.show-card-contents {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-card-user {
  background-size: auto;
  width: 300px;
  height: 200px;
  object-fit: cover;
  background-position: center;
}


.show-profile-container {
  color: black;
  opacity: 0.7;
  padding-right: 70px;
}

.show-profile-container h1 {
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: black;
  opacity: 0.6;
  margin-top: 100px;
  margin-bottom: 50px;
}
.show-profile-container h5 {
  color: black;
  opacity: 0.6;
  // font-weight: lighter;
}


.show-banner {
  height: 400px;
  background-position: center;
}

.show-card-contents {
  background-color: white;
  box-shadow: 1px 2px #7d7d7d;
  min-width: 200px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}


.show-connect {
  width: 180px;
  bottom: 10px;
}
.show-want-to {
  font-size: 14px;
  line-height: 0.3em;
  color: #929aab;
}

.show-view {
  margin-top: 5px;
  font-size: 10px;
  color: #393e46;
}
.show-view:hover {
  color: black;
  text-decoration: underline;
}

#show-connect {
  display: flex;
  justify-content: center;
}
