.card-container {
  padding-right: 80px;
  padding-left: 80px;
}

.musician-index {
  min-width: 300px;
  background-color: white;
  min-height: 360px;
  // box-shadow: 1px 1px 0px 0px;
  margin: 20px;
  // position: relative;
}

.musician-card {
  min-height: 360px;
  position: relative;
}

.musician-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.musician-card-description {
  padding-top: 15px;
  min-height: 120px;
}

.nickname {
  color: black;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin:0;
}

.nickname a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.tag-line {
  color: black;
  opacity: 0.6;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top: 5px;
  margin: 0;
}
.tag-line a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.location {
  // text-shadow: 0.2px 0.2px #7d7d7d;
  color: black;
  opacity: 0.4;
  font-size: 12px;
  // letter-spacing: 0.2px;
  // padding-bottom: 10px;
  // position: absolute;
  // bottom: 0px;
  // right: 5px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding-top: 3px;
}


.location a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.musician-equipment {
  font-size: 14px;
  // position: absolute;
  // bottom: 0px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  opacity: 0.8;
}

.search-field {
  width: 300px;
}


#explore {
  padding-left: 20px;
  color: white;
  opacity: 0.7;
}
