.wrapper {
  margin-left: 50px;
}

.musician-index {
  width: 300px;
  background-color: white;
  height: 200px;
  box-shadow: 1px 1px 0px 0px;
}

.musician-index {
  position: relative;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.search-field {
  width: 300px;
}

#explore {
  color: #40514e;
}
