.venue-info-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.venue-details {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.carousel-photo {
  // margin: 10px;
  // height: 50%;
  // width: 80%;
}
.carousel-inner {
  // height: 500px;
}
.venue-info {
  width: 630px;
}



.carousel {
  background-color: black;

  .item img {
    width: auto;
    height: 500px;
    margin: 0 auto;
  }
}

.bookmark-which-band {
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.new_bookmark_board {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_bookmark_board span{
  width: 20px;
}

.simple-container {
  display: flex;
  justify-content: center;
}

input {
  width: 30px;
}
