.venue-info-wrapper {
  display: flex;
  justify-content: space-around;
}

.venue-name {

}

.carousel-photo {
  // margin: 10px;
  // height: 50%;
  // width: 80%;
}
.carousel-inner {
  // height: 500px;
}
.venue-info {
  margin: 20px;
  margin-left: 80px;
}


.carousel {
  background-color: black;

  .item img {
    width: auto;
    height: 500px;
    margin: 0 auto;
  }
}

.bookmark-which-band {
  margin-top: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
}

.new_bookmark_board {
  height: 400px;
}

.new_bookmark_board span{
  width: 20px;
}

input {
  width: 30px;
}
