.map-container {
  display: flex;
}

#map {
  width: 66.66%;
  height: 605px;
  margin-left: 15px;
  margin-right: 15px;
}

#listings {
  width: 33.33%;
}

.ivenues-popup-container {
  display: flex;
}

.ivenues-popup-info {
  padding-left: 12px;
}

.ivenues-popup-image {
  margin-top: 12.5px;
}

.ivenues-title {
  border-bottom: 5px solid #E84369;
  width: 366px;
  text-align: left;
  margin-top: 50px;
  margin-left: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
  font-size: 40px;
}

.ivenues-leftside img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.ivenues-rightside {
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding-left: 15px;
  width: 100%;
  margin-right: 10px;
}

.ivenues-item {
  display: flex;
  position: relative;
  margin-bottom: 15px;
}

.ivenues-venue-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000;
}

.ivenues-venue-title:hover {
  color: #000;
}

.ivenues-text {
  font-size: 12px;
}







.marker {
  border: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-image: image-url("marker.png");
  background-color: rgba(0, 0, 0, 0);
}





















// .i-venues {
//   width: 435px;
//   height: 605px;
// }

// .i-venues-panel {
//   height: 530px;
//   width: 100%;
//   overflow: hidden;
//   overflow-y: scroll;
// }

// .i-venue-info img {
//   object-fit: cover;
//   width: 120px;
//   height: 120px;
//   border-top-left-radius: 5%;
//   border-bottom-left-radius: 5%;
// }

// .i-venue-info-right {
//   border-top: 1px solid #dbdbdb;
//   border-right: 1px solid #dbdbdb;
//   border-bottom: 1px solid #dbdbdb;
//   padding-left: 15px;
//   width: 375px;
// }

// .i-venue-item {
//   display: flex;
//   position: relative;
//   margin-bottom: 15px;
// }

// .i-venue-title {
//   font-weight: bold;
//   margin-right: 16px;
// }

// .i-venue-data {
//   font-size: 13px;
// }

// .i-venue-openmic {
//   display: flex;
//   position: absolute;
//   bottom: 5px;
//   div {
//     margin-right: 5px;
//   }
// }

// .i-venue-address {
//   font-size: 12px;
// }

// .i-venues-pagination {
//   text-align: center;
//   vertical-align: center;
// }

// .venue-popup-image img {
//   object-fit: cover;
//   width: 70px;
//   height: 70px;
// }

// .venue-popup-info {
//   padding-left: 10px;
// }

// .venue-popup-openmic {
//   display: flex;
//   // position: absolute;
//   // bottom: 5px;
//   div {
//     margin-right: 5px;
//   }
// }

// .venue-popup-info > div {
//   padding: 0px;
// }

// .venue-popup-name {
//   font-size: larger;
// }







// .mapboxgl-popup {
//   // border: 1px solid #dbdbdb;
//   // border-radius: 10px;
//   max-width: 400px;
//   // background-color: #fff;
// }

// // .i-venue-container {
// //   display: flex;
// // }

// // .i-venue-name {
// //   margin-left: 30px;
// // }
// // .i-venue-card {
// //   box-shadow: 0px 1px 1px black;
// //   height: 250px;
// //   background-size: cover !important;
// //   background-position: center;
// //   margin: 20px;
// //   font-size: 12px;
// // }

// // .i-venue-img {
// //   width: 100%;
// //   height: 60%;
// //   object-fit: cover;
// // }
// // .i-venue-info {
// //   padding: 10px;
// // }
