<div class="banner" style="background: #FC466B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
  <div class="container">
    <div class="word" style = "text-align: center;">

    <div class="h1" style="display: flex; justify-content: center; ">
      <h1 style="font-size: 200px;">Let's Play.</h1>
    </div>
    <h2 style="color: white">Cmaj7</h2>
    <h2>SEARCH BAR HERE</h2>
  </div>
  </div>
</div>
