<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551764740/matthijs-smit-579209-unsplash.jpg);">
  <div class="container">

  </div>
</div>
