<div class="landing-page">

<div class="landing-banner">

  <div class="container">
    <div class="lading-banner-container">

      <div class="lading-banner-word">
        <h1 style="font-size: 200px; font-weight: bold;">Let's Play.</h1>
      </div>

      <div class="flex-grow-3 d-flex">
        <div class="landing-search-bar">
          <%= form_tag musicians_path, method: :get, class: "text-left", style: 'padding-left: 50px' do %>
            <%= text_field_tag :query, params[:query], class: "form-home mr-sm-6 search-field", placeholder: "Music instrument or Location" %>
            <%= submit_tag "Search", class: "btn btn-danger", style: "margin: 43px;padding: 5px 25px 5px; margin-left: 10px;" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="down-arrow-icon"><i class="fas fa-chevron-down fa-3x"></i></div>

<div class="landing-white-section">


<h1 class="header">A social network for musicians, by musicians.</h1>


<div style="justify-content: space-between;align-items: center;align-content: center;display: flex;margin: 0px 191px;">


  <div class="landing-white-contents"">
    <div class="scj-icons">
     <i class="fas fa-search fa-3x"></i>
    </div>
    <h2 style="font-size: 24px; font-weight: bold; font-family: 'open sans'; text-align: center; border-bottom: 3px solid #E84369; padding-bottom: 10px; margin-top: 10px">Search</h2>
    <p style="width: 180px; margin-bottom: 0;">Search for musicians seeking others to jam and perform with.</p>
  </div>

  <div class="landing-white-contents">
    <div class="scj-icons">
     <i class="fas fa-user-friends fa-3x"></i>
    </div>
    <h2 style="font-size: 24px; font-weight: bold; font-family: 'open sans'; border-bottom: 3px solid #E84369; padding-bottom: 10px; margin-top: 10px">Connect</h2>
    <p style="width: 180px; margin-bottom: 0;">Connect and form a band over your shared passion of music.</p>
  </div>

  <div class="landing-white-contents">
    <div class="scj-icons">
     <i class="fas fa-music fa-3x"></i>
    </div>
    <h2 style="font-size: 24px; font-weight: bold; font-family: 'open sans'; border-bottom: 3px solid #E84369; padding-bottom: 10px; margin-top: 10px">Jam!</h2>
     <p style="width: 180px; margin-bottom: 0;">Meet up, jam, or perform at a select venue.</p>
  </div>
</div>

<div style="justify-content: space-between;align-items: center;align-content: center;display: flex;margin: 0px 55px;font-size: 13px;text-align: center; position: relative; bottom: 10px;">



  </div>

</div>

<div class="landing-musicians">

<h1 style="color: #121212; font-style: bold; font-size: 32px; text-align: center; margin-left: 110px; margin-top: 0; border-bottom: 6px solid #3F5DFA; padding-bottom: 5px; width: 300px">Explore Musicians</h1>

<div class="landing-cards">
<div class="card-trip" style=" width: 250px">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-trip-infos" >
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
</div>
</div>

<div class="landing-footer">
  footer here
</div>



