<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551764740/matthijs-smit-579209-unsplash.jpg);">
  <div class="container">
  </div>
</div>

<br>

<h1 class="header">A social network for musicians, by musicians.</h1>

<br>
<br>
<br>
<br>

<div style="justify-content: space-between;align-items: center;align-content: center;display: flex;margin: 0px 185px;position: relative;">
  <img src="https://res.cloudinary.com/harrisongarovi/image/upload/v1551769192/9228f03f9d.png" alt='search' style="height: 68px; width: 68px;">

  <img src="https://res.cloudinary.com/harrisongarovi/image/upload/v1551765906/dbf3aa269e.png" alt='connect' style="height: 68px; width: 68px;">

  <img src="https://res.cloudinary.com/harrisongarovi/image/upload/v1551769335/77377-200.png" alt='perform' style="height: 68px; width: 68px;">
</div>

<div style="justify-content: space-between;align-items: center;align-content: center;display: flex;margin: 0px 191px;">
  <h2 style="font-size: 24px; font-weight: bold; font-family: 'open sans'; position: relative; bottom: 15px;">Search</h2>
  <h2 style="font-size: 24px; font-weight: bold; font-family: 'open sans'; position: relative;right: 12px; bottom: 15px;">Connect</h2>
  <h2 style="font-size: 24px; font-weight: bold; font-family: 'open sans'; position: relative; bottom: 15px;">Jam!</h2>
</div>

<div style="justify-content: space-between;align-items: center;align-content: center;display: flex;margin: 0px 55px;font-size: 13px;text-align: center; position: relative; bottom: 10px;">
  <p style="width: 180px;position: relative;left: 85px;">Search for musicians seeking others to jam and perform with.</p>
  <p style="position: relative;left: 4px;width: 180px;text-align: center;">Connect and form a band over your shared passion of music.</p>
  <p style="position: relative;right: 70px;bottom: 10px;width: 180px;">Meet up, jam, or perform at a select venue.</p>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>









