<% content_for :title, "Venues" %>

<script>
  const venues = <%= raw json_escape(@geojson.to_json) %>;
  const mapkey = "<%= ENV['MAPBOX_API_KEY'] %>"
</script>

<h1 class='i-venue-name'>Venues</h1>

<div class="map-container">
  <div class="map-item" id="map"></div>
  <div id='listings' class='listings'></div>
</div>
