<h1 class='i-venue-name'>Venues</h1>



<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


<!-- <div class="i-venue-container">
  <div class="i-venue-row">
    <div class="col-xs-12 col-sm-4">
    <%# @venues.each do |venue| %>
    <div class='i-venue-card'>
      <%#= link_to venue_path(venue) do %>
        <%#= cl_image_tag venue.venue_photos.first.photo, class: 'i-venue-img' %>
      <%# end %>
      <div class="i-venue-info">
      <p>English Name:<%#= venue.en_name %></p>
      <p>Japanese Name:<%#= venue.jp_name %></p>
      <p>URL:<%#= link_to venue.jp_website %></p>
      </div>
    </div>
    <%# end %>
    </div>
  </div>
</div> -->
