<h1>Bands#show</h1>
<p>Find me in app/views/bands/show.html.erb</p>

<div class="band-page-wrapper">
  <div class="container">
    <div class="band-container">
      <div class="band-banner"  style="text-align: center;">
        banner - band name
      </div>
      <div class="band-content-wrapper" style="display: flex; justify-content: space-evenly;">
        <div class="band-left-side">
          <div class="band-schedule">
            band schedule
          </div>
          <div class="band-venues-lists">
            venues list
          </div>
        </div>
        <div class="band-right-side">
          <div class="band-member-card">
            band-member
          </div>
          <div class="band-chat">
            chat
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
