<div class="show-banner" style="box-shadow: 0px 0px 5px #000000; background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551851442/adult-artist-artists-210887.jpg);">
  <div class="card-category">
    <h3>Gorillaz</h3>
      <h4>Unique band, unique sound</h4>
    <div class="banner-musician-description">
      <p>Genre: Rock, Alternative</p>
    </div>
  </div>
</div>



<div class="container">
  <div class="show-container">
    <div class="profile-container text-left">
      <div><h1>About Me</h1></div>
      <!-- <div><p></p></div> -->
      <div><p>Big fan of Grateful Dead and Pink Floyd. Also love bluegrass. Let&#39;s jam!</p></div>
      <div><h5>Location: shibuya</h5></div>
    </div>


<div class="card-wrapper">
      <div class="banner-content">
        <h3 class="musician-name"></h3>
        <div class="card-description">
          <div class="card-contents">
            <div>
              <img class="card-user" src="http://res.cloudinary.com/harrisongarovi/image/upload/v1551855341/csy4z7a1livawkvixxqz.jpg" />
              <h4 class='text-center'>Bruce</h4>
              <p class='want-to text-center'>want to play with bruce?</p>
             <!--  <input type="checkbox" style="display: none;" id="connect">
                <div class="popup" style="display: none;">
                  <div class="col-md-6">
                      <p class='submit'></p>
                  </div>
                </div> -->
                <div id="connect">
                  <p class="btn btn-primary connect align-center">Connect</p>
                </div>
                <a href="/bands/1">
                <p class="view text-center">View all the bands bruce is in </p>
</a>            </div>
<script>
              $(document).ready(function() {
                $("#connect").change(function(){
                  if(this.checked){
                    $(".popup")[0].style.display = "block";
                    $(".card-contents")[0].style.display = "none";
                  } else {
                    $(".popup")[0].style.display = "none";
                  }
                })
              });
            </script>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>













