<div class="banner-band" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551851442/adult-artist-artists-210887.jpg);">
  <div class="container">
    <div class="band-container" style="margin-bottom: 305px;">
    <h1>Gorillaz</h1>
    <h2>Unique band, unique sound</h2>
    <p>Genre: Rock, Alternative</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="about-container">
    <div class="band-body">
    <h1>About Us</h1>
    <h2>We’re a band that’s everychanging when it comes to style. We’re open to changing up our sound to divesify our audience. Come join us!</h2>
    </div>
  </div>
</div>







<div class="band-page-wrapper">
  <div class="band-container">
    <div class="container">
      <div class="band-banner">
      </div>
      <div class="band-contents">
        <div class="band-leftside">
          <div class="band-schedule">
            band schedule
          </div>
          <div class="band-venue-list">
            venues
          </div>
        </div>
        <div class="band-rightside">
          <div class="band-member-card">
            band members
          </div>
          <div class="band-chat">
            chat
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
