<div class="banner-band" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551849259/Mitchell-FB-Series-Bass-Main-Mobile.jpg);">
  <div class="container">
  </div>
</div>







<div class="band-page-wrapper">
  <div class="band-container">
    <div class="container">
      <div class="band-banner">
      </div>
      <div class="band-contents">
        <div class="band-leftside">
          <div class="band-schedule">
            band schedule
          </div>
          <div class="band-venue-list">
            venues
          </div>
        </div>
        <div class="band-rightside">
          <div class="band-member-card">
            band members
          </div>
          <div class="band-chat">
            chat
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
