<div class="show-banner" style="box-shadow: 0px 0px 5px #000000; background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551851442/adult-artist-artists-210887.jpg);">
  <div class="card-category-band">
    <div class="container">
      <div style="margin-top: 95px;">
        <h3>Gorillaz</h3>
          <h4>Unique band, unique sound</h4>
            <div class="banner-band-description">
              <p>Genre: Rock, Alternative</p>
            </div>
          </div>
      </div>
  </div>
</div>


<div class="container">
  <div class="show-container">

    <div class="profile-container-band text-left">
      <div><h1>We are...</h1></div>
      <div><p style="margin-bottom: 35px">We’re a band that’s everychanging when it comes to style. We’re open to changing up our sound to divesify our audience. Come join us!</p></div>
      <div>
        Location: <% @band.band_member_ids.each do |member_id|%>
                    <%= User.find(member_id).location.capitalize %>
                  <% end %>
      </div>
    </div>


<div class="card-wrapper">
      <div class="banner-content">
        <h3 class="musician-name"></h3>
        <div class="card-description">

          <div class="card-contents-band">
              <p class='band-members-title'>Members</p>
            <div class="band-members-wrapper">
              <% @band.band_member_ids.each do |member_id|%>
                <%= link_to musician_path(member_id) do %>
                  <div class="band-members">
                    <span>
                      <%= cl_image_tag(User.find(member_id).user_photo, class:'member-avatar')%>
                    </span>
                    <p>
                      <%= User.find(member_id).nickname.capitalize %>
                    </p>
                  </div>
                <% end %>
              <% end %>
            </div>
             <!--  <input type="checkbox" style="display: none;" id="connect">
                <div class="popup" style="display: none;">
                  <div class="col-md-6">
                      <p class='submit'></p>
                  </div>
                </div> -->
             <!--<a href="/bands/1">
                  <p class="view-members">View all members</p>
                </a> -->
          </div>

            <script>
              $(document).ready(function() {
                $("#connect").change(function(){
                  if(this.checked){
                    $(".popup")[0].style.display = "block";
                    $(".card-contents")[0].style.display = "none";
                  } else {
                    $(".popup")[0].style.display = "none";
                  }
                })
              });
            </script>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>













