.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-band {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-band h1 {
  font-family: "montserrat";
  font-size: 32px;
  color: #FFFFFF;
}

.banner-band h2 {
  font-family: "open sans";
  color: #FFFFFF;
  font-size: 18px;
}

.banner-band p {
  font-family: "source sans pro";
  font-size: 16px;
  color: #FFFFFF;
}
