#d-profile {
  color: black;
  opacity: 0.6;
}
#d-profile:hover {
  opacity: 1;
}
#d-request {
  color: black;
  opacity: 0.6;
}
#d-request:hover {
  opacity: 1;
}
#d-bands {
  color: black;
  opacity: 0.6;
}
#d-bands:hover {
  opacity: 1;
}
#d-message {
  color: black;
  opacity: 0.6;
}
#d-message:hover {
  opacity: 1;
}

