.profile {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  &:hover {
    border-bottom: 3px solid #E84369;
  }
}

.profile:hover {
  color: black;
  // text-decoration: underline;
}

#d-profile {
  color: black;
  opacity: 0.6;
}
#d-profile:hover {
  opacity: 1;
}
#d-request {
  color: black;
  opacity: 0.6;
}
#d-request:hover {
  opacity: 1;
}
#d-bands {
  color: black;
  opacity: 0.6;
}
#d-bands:hover {
  opacity: 1;
}
#d-message {
  color: black;
  opacity: 0.6;
}
#d-message:hover {
  opacity: 1;
}

