.footer {
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  color: white;
  padding: 20px;
  height: 100px;
  position: relative;
  align-items: center;
}

.fab {
  color: white;
  opacity: 0.5;
  font-size: 20px;
  vertical-align: middle;
  align-items: center;
}
.footer-item {
  vertical-align: middle;
}
.footer-links {
  position: absolute;
  color: #FFFFFF;
  // bottom: 10px;
  right: 20px;
  //margin-top: 60px;
}

.footer-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
}

.fa-heart {
  color: red;
}

.search-field-footer {
  width: 430px;
  height: 35px;
  background-color: #000000;
  border-radius: 5px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}


