.musician-invite {
  min-width: 329px;
  background-color: white;
  min-height: 311px;
  margin-bottom: 30px;
}

.musician-invite-card {
  position: relative;
  width: 310px;
  height: 300px;
  box-shadow: 1px 1px 1px;
  border-radius: 5px;
}
