// .invite-btn label {
//   margin-left: 10px;
//   height: 20px;
//   font-size: 15px;
//   display: flex;
//   align-items: center;
// }

.invite-btn {
  margin-left: 20px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.gray-name {
  display: flex;
  align-items: center;
}
