// .invite-btn label {
//   margin-left: 10px;
//   height: 20px;
//   font-size: 15px;
//   display: flex;
//   align-items: center;
// }
.invite-form {
  // display:
}
.invite-btn {
  margin-left: 50px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.i-submit {
  // margin-left: 10px;
}
.gray-name {
  display: flex;
  align-items: center;
}
#m-invite {
  padding-top: 20px;
}
#request_message {
  min-width: 40vw;
  min-height: 200px;
}
#request_band_id {
  min-width: 40vw;
}
