<div class="footer">
  <div class="footer-item footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-item footer-text" style="font-size: 20px; text-align: left; font-family: 'Montserrat', sans-serif;">
    C Major 7 was made with <i class="fas fa-heart"></i> by Yuki, Harrison, Chris, and Kumi
  </div>
</div>
