<div class="footer">

  <div class="footer-top-items">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <%= image_tag 'whitelogo.PNG', alt: "logo", height: 40, width: 60  %>
      <% end %>
      <%= link_to root_path do %>
        <div class="footer-logo-title">
          Cmaj7
        </div>
      <% end %>
    </div>
  </div>

  <div class="footer-bottom-items">
    <div class="footer-item">
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
    </div>

    <div class="footer-item footer-text", sans-serif;">
      C Major 7 was made with <i class="fas fa-heart"></i> by Yuki, Harrison, Chris, and Kumi
    </div>
  </div>

</div>
