<div class="navbar-logo">
  <!-- Logo -->

  <div class="logo-h1">
    <%= link_to root_path do %>
      <%= image_tag "https://res.cloudinary.com/harrisongarovi/image/upload/v1551759240/Gibson_ES-335-512.png", alt: "logo", height: 63, width: 76  %>
    <% end %>
    <%= link_to root_path do %>
    <h1 class="logo-h1">C Major 7</h1>
    <% end %>
  </div>
