.sl-page-wrapper {
//   background: #3494E6;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   background: #E55D87;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sl-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.sl-form {
  margin: 40px;
  padding: 20px;
  background-color: white;
  width: 500px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sl-form h2 {
  text-align: center;
}

.sl-form-names {
  display: flex;
  justify-content: flex-start;
}

#sl-fullname {
  margin-right: 15px;
}
